proxy:
  secretToken: "<generate one with $(openssl rand -hex 32)>"

# see: https://zero-to-jupyterhub.readthedocs.io/en/latest/user-environment.html#use-jupyterlab-by-default
singleuser:
  image:
    name: localhost:32000/datacube-notebook
    tag: v1.0.7
  defaultUrl: "/lab"
  extraEnv:
    EDITOR: "vim"
  lifecycleHooks:
    postStart:
      exec:
        command: ["gitpuller", "https://github.com/ceos-seo/data_cube_notebooks", "master", "notebooks"]

hub:
  extraConfig:
    jupyterlab: |
      c.Spawner.cmd = ['jupyter-labhub']

# see: https://zero-to-jupyterhub.readthedocs.io/en/latest/advanced.html#ingress
ingress:
  enabled: true
  hosts:
    - 10.21.14.25.xip.io

# see: https://zero-to-jupyterhub.readthedocs.io/en/latest/authentication.html#github
auth:
  type: github
  github:
    clientId: "<provide the clientId frm GitHub>"
    clientSecret: "<provide the clientSecret from GitHub>"
    callbackUrl: "http://10.21.14.25.xip.io/hub/oauth_callback"
  admin:
    access: true
    users:
      - luigidifraia
